


      
.secondary-content
  .shell
    .container#smart.frame
      ul.clearfix
        
  
        li.secondary__item
          .secondary__essence
            .secondary__title Nam euismod
            .secondary__subtitle Morbi nisl massa, volutpat ac magna vitae, maximus tincidunt erat.
            picture.secondary__image
              source(srcset=require('../images/secondary-image--tablet.jpg'), media='(max-width: 1000px)')
              img(srcset=require('../images/secondary-image.jpg'), alt='My default image')
            .secondary__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod nulla vitae sem blandit, id interdum magna porttitor. 

          .secondary__line 
            .secondary__line-text 2016 04/05 sud
          
    
        li.secondary__item
          .secondary__essence
            .secondary__title Nam euismod
            .secondary__subtitle Morbi nisl massa, volutpat ac magna vitae, maximus tincidunt erat.
            picture.secondary__image
              source(srcset=require('../images/secondary-image--tablet2.jpg'), media='(max-width: 1000px)')
              img(srcset=require('../images/secondary-image.jpg'), alt='My default image')
            .secondary__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod nulla vitae sem blandit, id interdum magna porttitor. 

          .secondary__line 
            .secondary__line-text 2016 04/05 sud
          
          
        
  
        li.secondary__item
          .secondary__essence
            .secondary__title Nam euismod
            .secondary__subtitle Morbi nisl massa, volutpat ac magna vitae, maximus tincidunt erat.
            picture.secondary__image
              source(srcset=require('../images/secondary-image--tablet.jpg'), media='(max-width: 1000px)')
              img(srcset=require('../images/secondary-image.jpg'), alt='My default image')
            .secondary__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod nulla vitae sem blandit, id interdum magna porttitor. 

          .secondary__line 
            .secondary__line-text 2016 04/05 sud
          
          
    .scrollbar
      .handle
      .handle-fake
         
