

// slider
section.slider
  .shell
    .container
      .stage
        
        .owl-carousel.owl-theme#slider
          //- .item
          //-   span Дверь на дачу
          //-   img.item__image.owl-lazy( data-src=require('../images/slide-image.jpg')  data-src-retina=require('../images/slide-image.jpg') src=require('../images/slide-image.jpg') alt="")
          .item
            span Дверь на дачу
            img.item__image(src=require('../images/slide-image.jpg') alt="")
          .item
            span Дверь на дачу
            img.item__image(src=require('../images/slide-image.jpg') alt="")
          .item
            span Дверь на дачу
            img.item__image(src=require('../images/slide-image.jpg') alt="")
          .item
            span Дверь на дачу
            img.item__image(src=require('../images/slide-image.jpg') alt="")

        
// eof slider
